@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@-webkit-keyframes bottomToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes bottomToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: #777777;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #ffffff;
  padding: 50px;
}

.container {
  background-color: #f7f7f7;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.section-about {
  margin-top: 8rem;
}

.title-secondary {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
}

.gallery {
  position: relative;
}
.gallery__photo {
  position: absolute;
  width: 60%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline-offset: 1rem;
}
.gallery__photo_n1 {
  top: 0;
  left: 0;
  z-index: 1;
}
.gallery__photo_n2 {
  top: 13rem;
  left: 2rem;
  z-index: 3;
}
.gallery__photo_n3 {
  top: 7rem;
  left: 18rem;
  z-index: 2;
}
.gallery__photo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
  outline: 1rem solid #ba8554;
}
.gallery:hover .gallery__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.section-services {
  padding: 21rem 0;
  margin-top: 10rem;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../images/services-background.avif") center/cover no-repeat;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
.section-services > * {
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.services-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.services-card:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.1);
          transform: translateY(-1.5rem) scale(1.1);
}
.services-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.section-pricing {
  padding: 21rem 0;
}

.pricing-card {
  position: relative;
  height: 52rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}
.pricing-card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  height: 52rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0.5rem;
  overflow: hidden;
}
.pricing-card__side_back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: linear-gradient(120deg, #ba8554, #a14f03);
}
.pricing-card:hover .pricing-card__side_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.pricing-card:hover .pricing-card__side_back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.pricing-card__image {
  height: 21rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0, 0, 100%, 0, 100%, 100%, 0, 80%);
          clip-path: polygon(0, 0, 100%, 0, 100%, 100%, 0, 80%);
}
.pricing-card__image_1 {
  background: #ba8554 url("../images/pricing-1.avif") center/cover no-repeat;
}
.pricing-card__image_2 {
  background: #ba8554 url("../images/pricing-2.avif") center/cover no-repeat;
}
.pricing-card__image_3 {
  background: #ba8554 url("../images/pricing-3.avif") center/cover no-repeat;
}
.pricing-card__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 0rem;
  color: #ffffff;
}
.pricing-card__span {
  background: -webkit-gradient(linear, left top, right top, from(#ba8554), to(#a14f03));
  background: linear-gradient(90deg, #ba8554, #a14f03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.pricing-card__span_second {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
}
.pricing-card__description {
  margin-top: 7rem;
}
.pricing-card__description ul {
  list-style: none;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.pricing-card__description ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  border-bottom: 1px solid #777777;
  display: inline-block;
}
.pricing-card__description ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.pricing-card__back-side {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pricing-card__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.pricing-card__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.pricing-card__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../images/hero-image.avif") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  width: 56px;
  height: 70px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title {
  color: #ffffff;
}
.title__primary {
  display: block;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.title__secondary {
  display: block;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 5px;
  margin-bottom: 65px;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.button:link, .button:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  background: #ffffff;
  padding: 15px 40px;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  font-size: 20px;
}
.button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.button:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
}
.button:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button_animated {
  -webkit-animation: bottomToUp 0.5s ease-out 0.7s;
          animation: bottomToUp 0.5s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.button-text:link, .button-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #ba8554;
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 1px #a14f03 solid;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button-text:hover {
  background-color: #ba8554;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}
.button-text:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}