* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: #777777;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: white;
  padding: 50px;
}

.container {
  background-color: #f7f7f7;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("../images/hero-image.avif") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  width: 56px;
  height: 70px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title {
  color: white;
}
.title__primary {
  display: block;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title__secondary {
  display: block;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 5px;
  margin-bottom: 65px;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  background: white;
  padding: 15px 40px;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.button:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}