.section-about {
    margin-top: 8rem;
}

.title-secondary {
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(90.05deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%);
    background-clip: text;
    color: transparent;
    transition: all 0.4s;
    backface-visibility: hidden;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0 0.4rem 0.4rem rgba($color: $color-black, $alpha: 0.25);
    }
}

.title-third {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.content {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 140%;
    font-weight: 400;
}

.gallery {
    // Necessary for the father's block,
    // so that the daughter elements are placed
    // in the base block, and not whole body
    position: relative;

    &__photo {
        position: absolute;
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        transition: all 0.4s;
        outline-offset: 1rem;

        &_n1 {
            top: 0;
            left: 0;
            z-index: 1;
        }
        &_n2 {
            top: 13rem;
            left: 2rem;
            z-index: 3;
        }
        &_n3 {
            top: 7rem;
            left: 18rem;
            z-index: 2;
        }
        &:hover {
            transform: scale(1.1);
            z-index: 5;
            outline: 1rem solid $color-brown-light;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}
